---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% include single_post.html %}

  <hr class="title-sep"/>

  <ul class="post-list">
      <h1>Recent Posts</h1>
    {% for post in site.posts offset:1 limit:3%}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
